################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/Treehouse.SolarSystem/bin
/Treehouse.SolarSystem/Content
/Treehouse.SolarSystem/fonts
/Treehouse.SolarSystem/obj/Debug
/__MACOSX
